body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgb(45, 45, 134);
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.navigation a {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
}

.login:hover {
    transform: rotateY(360deg);
    box-shadow: 2px 2px 30px blue;
    background-color: rgb(236, 11, 41);
    transition: transform 3s;
}

.watch:hover {
    box-shadow: 2px 2px 30px blue;
    background-color: rgb(236, 11, 41);
    padding: 1em 1.5em;
}

.menu {
    padding: 10px 20px;
}

.login,
.watch,
.watch-now {
    background-color: #E02C6D;
    padding: 10px 20px;
}

.fa-sign-in-alt {
    margin: 0 8px;
}

.front-page {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}

.banner img {
    width: 330px;
}

.title {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 55px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    width: 330px;
    height: 474px;
    margin: 15px;
    padding: 15px;
    padding-bottom: 43px;
    box-shadow: 3px 3px 30px rgb(209, 207, 207);
}

.player img {
    width: 100%;
}

.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 160px 0;
}

.highlights img {
    width: 400px;
    height: 370px;
}

.info {
    margin: 5%;
    width: 350px;
}

.info p {
    padding-bottom: 10px;
}

.fifa-info {
    display: flex;
    align-items: center;
}

.president {
    width: 100px;
    display: flex;
    justify-content: center;
}

.speech {
    margin: 30px;
    padding: 10px;
    box-shadow: 3px 3px 30px rgb(194, 192, 192);
}

.speech p {
    width: 350px;
}

.speech img {
    width: 280px;
}

.action {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 3px 3px 30px rgb(226, 225, 225);
}

.photo {
    padding-left: 20px;
}

.photo img {
    width: 350px;
}

.details {
    padding-left: 20px;
}

.details h1 {
    font-size: 2em;
}

span {
    color: orange;
}

p span {
    background-color: red;
    color: white;
    padding: 10px 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.logo img {
    width: 354px;
    height: 110px;
}

.icon i {
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(201, 195, 195);
    color: gray;
}


/*---------------------
 media query start
 ------------------------*/

@media only screen and (max-width: 480px) {
    .navigation {
        background-color: rgb(116, 8, 8);
    }
    .front-page {
        display: flex;
        flex-direction: column;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights {
        display: flex;
        flex-direction: column;
    }
    .fifa-info {
        display: flex;
        flex-direction: column;
    }
    .president {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .action {
        display: flex;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}